{% extends 'base.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}

    <h1> Create Article</h1>


    <div class="form">
        {{ form_start(formArticle) }}

        <div>
            <label for""> Titre </label>
            {{ form_widget(formArticle.title) }}

            <div>
                <label for""> Content </label>
                {{ form_widget(formArticle.content) }}
            </div>

        </div>

        <button type="submit" class="form-group">
            {% if editMode  %}

                Modifier

            {% else %}

            Créer un article </button>

        {% endif
            %}

        {{ form_end(formArticle) }}
    </div>

    {% endif %}

{% endblock %}