{% extends 'base.html.twig' %}

{% block body %}

    <h1> Edit Article</h1>


    <div>
        {{ form_start(formArticle) }}

        <div>
            <label for""> Titre </label>
            {{ form_widget(formArticle.title) }}

            <div id="edit_article">
                <label for""> Content </label>
                {{ form_widget(formArticle.content) }}
            </div>

        </div>

        <button type="submit" class="form-group">
            {% if editMode  %}

            Modifier

            {% else %}

            Editer un article </button>

        {% endif
        %}

        {{ form_end(formArticle) }}
    </div>

{% endblock %}