{% extends 'base.html.twig' %}

{% block body %}


        <h1 style="text-align: center; margin-bottom: 10% "> Registration </h1>

    <div class="form">

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" style="margin-top: 2%" class="form-group"> valider </button>

        {{ form_end(form) }}

    </div>
{% endblock %}